#################
## JetBrains
#################
.idea/

#################
## Confidential Files
#################
cert/
db/credentials.js

#################
## Node Modules
#################
node_modules/

#################
## CSS
#################
public/stylesheets/*.css
public/stylesheets/*.css.map