extends layout

block stylesheets
  link(rel='stylesheet', href='//api.mapbox.com/mapbox-gl-js/v0.19.1/mapbox-gl.css')
  link(rel='stylesheet', href='/stylesheets/darkskies.css')

block content
  h1 Dark Skies
  .container
    .row
      .col-sm-12
        #mapDiv
        p Map of light pollution in North America.   The data was downloaded from http://djlorenz.github.io/astronomy/lp2006/ and added to MapBox.

block javascripts
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.19.1/mapbox-gl.js')
  script(src='/javascripts/darkskies.js')