extends layout

block stylesheets
  link(rel='stylesheet', href='//js.arcgis.com/4.0/esri/css/main.css')
  link(rel='stylesheet', href='/stylesheets/darkskies.css')

block content
  h1 Dark Skies
  .container
    .row
      .col-xs-12
        #viewDiv

block javascripts
  script(src='//js.arcgis.com/4.0/')
  script(src='/javascripts/darkskies.js')
