extends layout

block stylesheets
  link(rel='stylesheet', href='https://js.arcgis.com/3.16/esri/css/esri.css')
  link(rel='stylesheet', href='/stylesheets/esrimap.css')

block content
  h1 Mapbox
  #mapDiv

block javascripts
  script(src='https://js.arcgis.com/3.16/')
  script(src='/javascripts/esrimap-app.js')
