extends layout

block stylesheets
  link(rel='stylesheet', href='//api.mapbox.com/mapbox.js/v2.4.0/mapbox.css')
  link(rel='stylesheet', href='//api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css')
  link(rel='stylesheet', href='/stylesheets/historic.css')

block content
  h1 Historic Places
  .container
    .row
      .col-sm-8
        #mapDiv
        p Data and photographs provided by #[a(href='http://www.historycolorado.org/archaeologists/listed-properties') History Colorado] and used with their permission.
      .col-sm-3
        .panel.panel-primary
          .panel-heading
            #name
          .panel-body
            #description

block javascripts
  script(src='//api.mapbox.com/mapbox.js/v2.4.0/mapbox.js')
  script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js')
  script(src='/javascripts/historic.js')