extends layout

block stylesheets
  link(rel='stylesheet', href='//api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css')
  link(rel='stylesheet', href='/stylesheets/historic.css')

block content
  h1 Historic Places
  .container
    .row
      .col-xs-3
        #infoDiv
      .col-xs-8
        #mapDiv

block javascripts
  script(src='//api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js')
  script(src='/javascripts/historic.js')
