extends layout

block content
  .container
    h1 Sage Wall
    .jumbotron
      p Welcome to my website and web mapping sandbox.
      a.btn.btn-default(href='/hazards', role='button') Hazards Map
      a.btn.btn-default(href='/snowfall', role='button') Snowfall Map
      a.btn.btn-default(href='/historic', role='button') Historic Places Map
