extends layout

block content
  .container
    h1 Sage Wall
    .jumbotron
      p Welcome to my website and web mapping sandbox.
      a.btn.btn-primary(href='/resume', role='button') Resume
      a.btn.btn-default(href='/resume', role='button') Historic Places Map
