extends layout

block content
  .container
    .jumbotron
      .page-header
        h1 Sage Wall
      p Welcome.
      a.btn.btn-primary(href='/resume', role='button') Resume
      a.btn.btn-default(href='/resume', role='button') Historic Places Map
