extends layout

block stylesheets
  link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css')
  link(rel='stylesheet', href='/stylesheets/mapbox.css')

block content
  h1 Mapbox
  #mapDiv

block javascripts
  script(src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js')
  script(src='/javascripts/mapbox-app.js')
