doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mapbox.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css")
  body
    h1 Mapbox
    #mapDiv
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js")
    script(src="/javascripts/mapbox-app.js")