extends layout

block content
  .container
    h1 Molly
    .well
      p.
        These are some of my favorite photos of my best friend Molly.
    #photoCarousel.carousel.slide(data-ride='carousel')
      .carousel-inner(role='listbox')
        .item.active
          img.img-responsive.center-block(src='images/molly-1.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-2.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-3.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-4.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-5.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-6.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-7.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-8.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-9.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-10.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-11.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-12.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-13.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-14.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-15.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-16.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-17.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-18.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-19.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-20.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-21.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-22.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-23.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-24.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-25.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-26.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-27.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-28.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-29.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-30.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-31.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-32.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-33.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-34.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-35.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-36.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-37.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-38.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-39.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-40.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-41.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-42.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-43.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-44.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-45.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-46.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-47.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-48.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-49.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-50.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-51.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-52.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-53.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-54.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-55.jpg')
          .carousel-caption
            h3
            p
        .item
          img.img-responsive.center-block(src='images/molly-56.jpg')
          .carousel-caption
            h3
            p
      a.left.carousel-control(href='#photoCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#photoCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
