extends layout

block stylesheets
  link(rel='stylesheet', href='//api.mapbox.com/mapbox.js/v2.4.0/mapbox.css')
  link(rel='stylesheet', href='/stylesheets/parcels.css')

block content
  h1 Parcels
  .container
    .row
      .col-sm-12
        #mapDiv
        p Parcels obtained from #[a(href='http://data.denvergov.org') City of Denver Open Data Catalog], #[a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0]

block javascripts
  script(src='//api.mapbox.com/mapbox.js/v2.4.0/mapbox.js')
  script(src='/javascripts/parcels.js')