extends layout

block content
  section.projects.container
    .row
      .col-xs-12
        h1 Project Experience
        ul.list-group.projects
          li.list-group-item
            h3.list-group-item-heading Vote Jeffco Web Map (2016)
            p.list-group-item-text.
              Developed a web application using Bootstrap and the ESRI JavaScript API. This application shows the
              location of ballot drop off and voter service center locations in Jefferson County. It also gives
              directions to the closest drop-off or vote center. https://voterlookupmap.jeffco.us/
              Role: GIS Developer.
              Employer: Jefferson County Colorado.
              Client: Jefferson County Colorado.
          li.list-group-item
            h3.list-group-item-heading jMap 3.0 Web Map (2014 - 2016)
            p.list-group-item-text.
              Developed custom tools and maps using the ESRI JavaScript API for Jefferson County's new web mapping
              application, jMap 3.0. This application is built on the Incline framework developed by Northline GIS.
              Developed and published map services, image services, geoprocessing services and locators using ArcGIS
              for Server. Published maps on ArcGIS online for use in Incline.  http://maps.jeffco.us/
              Role: GIS Developer.
              Employer: Jefferson County Colorado.
              Client: Jefferson County Colorado.
          li.list-group-item
            h3.list-group-item-heading Human Services iOS Application version 2.2 (2014)
            p.list-group-item-text.
              Took over as primary developer for the Jefferson County Human Services iOS application. Updated the
              contact database and depreciated methods. Fixed bugs. Released version 2.2.
              Role: iOS Developer.
              Employer: Jefferson County Colorado.
              Client: Jefferson County Colorado.
          li.list-group-item
            h3.list-group-item-heading Vote Jeffco Web Map (2014)
            p.list-group-item-text.
              Developed a web application that works on desktop and mobile platforms. This application shows the
              location of ballot drop-off and vote center locations in Jefferson County. It also gives turn-by-turn
              directions to the closest drop-off or vote center. http://jeffco.us/vote-jeffco-map.
              Role: GIS Developer.
              Employer: Jefferson County Colorado.
              Client: Jefferson County Colorado.
          li.list-group-item
            h3.list-group-item-heading.
              Marine Magnetic Survey Modeling: Custom Geospatial Processing Tools for Visualizing and Assessing Marine
              Magnetic Surveys for Archeological Resources (2013 - 2014)
            p.list-group-item-text.
              Developed an ArcGIS python toolbox to process and assess the coverage of magnetometer survey data. A
              custom python module was developed that calculates change in recorded gamma and provides functions for
              preprocessing the magnetometer data. Tools in the python toolbox were created to calculate statistics on
              the distribution of magnetometer readings and assess survey coverage. Other tools were developed to
              display interpolated surfaces of raw magnetic data and the first derivative of this surface. Testing of
              the models and tool outputs was performed at Biscayne Bay National Park on known submerged archaeological
              sites.
              Role: GIS Analyst / GIS Developer.
              Employer: Colorado State University.
              Client: National Park Service and the Bureau of Ocean Energy Management.
          li.list-group-item
            h3.list-group-item-heading.
              Glen Canyon National Recreation Area Custom Add-In Development, Data Management and Web Map (2012 - 2013)
            p.list-group-item-text.
              Developed two custom ArcGIS Add-In toolbars and tools for the park using python. One tool allows for the
              quick addition of layer files and the other creates a current model of Lake Powell based on a digital
              elevation model and information obtained from the Bureau of Reclamation's website. Installed ArcGIS for
              Server and ArcSDE for SQL Server on a new server. Created a SDE geodatabase and web service of all
              available data for the recreation area using the new server. Created an interactive web mapping
              application for park staff to be able to visualize and use their GIS data.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading Sunset Crater Volcano National Monument LiDAR Review (2012)
            p.list-group-item-text.
              Analyzed LiDAR data using Merrick MARS and ArcGIS software for quality control. Created 3D visualizations
              and animations from the data.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading San Luis Valley Web Map (2012)
            p.list-group-item-text.
              Developed an interactive web application to assist regional planners in researching the possible addition
              of a new historical park in the San Luis Valley.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading White Sands National Monument GPS Training (2012)
            p.list-group-item-text.
              Developed ArcPad training materials and trained park staff in ArcPad software and GPS use.
              Role: Trainer.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading Sun Zia Transmission Line Visual Simulations (2012)
            p.list-group-item-text.
              Analyzed visual impacts of a proposed transmission line route near Salinas Pueblo Missions National
              Monument. Created 3D visual simulations of the proposed transmission line routes using Google Earth and
              SketchUp.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading.
              Pecos National Historical Park Data Management and Web Map (2011 - 2012)
            p.list-group-item-text.
              Created a SDE geodatabase of all available data for the national historical park. Created an interactive
              Web Map for park staff to be able to visualize and use their GIS data. Trained park staff
              in the correct use of Trimble GPS units and TerraSync software.
              Role: GIS Lead and Trainer.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading Comments Made by the NPS on the BLM Solar PEIS (2011 - 2012)
            p.list-group-item-text.
              Analyzed risks to National Park Service resources. Created exclusion areas for the BLM Solar Programmatic
              Environmental Impact Statement to match comments sent by the NPS to the BLM.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading.
              Palo Alto National Historical Park Data Management and Web Map (2011 - 2012)
            p.list-group-item-text.
              Created a SDE geodatabase of all available data for the national historical park. Created an interactive
              Web Map for monument staff to be able to visualize and use their GIS data.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading Glacier National Park Aerial Image Processing (2011)
            p.list-group-item-text.
              Processed imagery obtained from the Department of Homeland Security into a MrSID mosaic using GeoExpress.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading Fort Union National Monument Data Management and Web Map (2011)
            p.list-group-item-text.
              Created a SDE geodatabase of all available data for the monument. Created an interactive web mapping
              application for park staff to be able to visualize and use their GIS data.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading.
              Fort Laramie National Historic Site Data Management and Web Map (2011)
            p.list-group-item-text.
              Created a SDE geodatabase of all available data for the historic site. Created an interactive web mapping
              application for park staff to be able to visualize and use their GIS data.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading Colorado National Monument Data Management and Web Map (2011)
            p.list-group-item-text.
              Created a SDE geodatabase of all available data for the national monument. Created an interactive web
              mapping application for park staff to be able to visualize and use their GIS data. Trained park staff in
              the correct use of Trimble GPS units and TerraSync software.
              Role: GIS Lead.
              Employer: Colorado State University.
              Client: National Park Service.
          li.list-group-item
            h3.list-group-item-heading Niobrara 3D Seismic (2010)
            p.list-group-item-text.
              Supervised the processing field GPS data, maintaining geodatabases and creating project maps and figures
              for a 3D seismic mapping project in northeastern Colorado. Performed geographic analysis for cultural
              resource impacts and created report figures. Managed two GIS technicians who were also working on the
              project.
              Role: GIS Lead.
              Employer: SWCA Environmental Consultants.
              Client: Geokinetics.
          li.list-group-item
            h3.list-group-item-heading Jonah 3D Seismic (2010)
            p.list-group-item-text.
              Supervised the processing field GPS data, maintaining geodatabases and creating project maps and figures
              for a 3D seismic mapping project in southwestern Wyoming. Performed geographic analysis for cultural
              resource impacts and created report figures.
              Role: GIS Lead.
              Employer: SWCA Environmental Consultants.
              Client: Green River.
          li.list-group-item
            h3.list-group-item-heading Sage Grouse Telemetry and Habitat Analysis (2010)
            p.list-group-item-text.
              Processed telemetry data from Argos transmitters attached to sage grouse in Wyoming.  Analyzed seasonal
              patterns of habitat use.  Helped refine a vegetation model for the area.  Programmed a Habitat Equivalency
              Model (HEA) in Python.
              Role: GIS Developer.
              Employer: SWCA Environmental Consultants.
              Client: Power Company of Wyoming.
          li.list-group-item
            h3.list-group-item-heading EOG Fort Berthold Environmental Assessments (2009)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Analyzed impacts to archaeological sites.
              Analyzed impacts to natural resources.
              Role: GIS Lead.
              Employer: SWCA Environmental Consultants.
              Client: EOG.
          li.list-group-item
            h3.list-group-item-heading Zenergy Fort Berthold Environmental Assessments (2009)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Analyzed impacts to archaeological sites.
              Analyzed impacts to natural resources.
              Role: GIS Lead.
              Employer: SWCA Environmental Consultants.
              Client: Zenergy.
          li.list-group-item
            h3.list-group-item-heading USACE Missouri River Surveys (2009)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Analyzed impacts to archaeological sites.
              Role: GIS Lead.
              Employer: SWCA Environmental Consultants.
              Client: US Army Corps of Engineers.
          li.list-group-item
            h3.list-group-item-heading USACE Missouri River Surveys (2009)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Analyzed impacts to archaeological sites.
              Role: GIS Lead.
              Employer: SWCA Environmental Consultants.
              Client: US Army Corps of Engineers.
          li.list-group-item
            h3.list-group-item-heading Hiawatha Environmental Impact Statement (2008 - 2009)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Analyzed impacts to archaeological sites.
              Analyzed impacts to natural resources.
              Role: GIS Lead.
              Employer: SWCA Environmental Consultants.
              Client: Questar.
          li.list-group-item
            h3.list-group-item-heading Normally Pressured Lance Environmental Assessment (2008 - 2009)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Analyzed impacts to archaeological sites.
              Analyzed impacts to natural resources.
              Role: GIS Lead.
              Employer: SWCA Environmental Consultants.
              Client: EnCana.
          li.list-group-item
            h3.list-group-item-heading Ruby Pipeline (2008)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Researched previous archaeological
              investigations in the project area. Analyzed impacts to archaeological sites.
              Role: GIS Specialist.
              Employer: Alpine Archaeological Consultants, Inc.
              Client: El Paso.
          li.list-group-item
            h3.list-group-item-heading Cheyenne to Ault Transmission Line (2007)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Researched previous archaeological
              investigations in the project area. Analyzed impacts to archaeological sites.
              Role: GIS Specialist.
              Employer: Alpine Archaeological Consultants, Inc.
              Client: Western Area Power Association.
          li.list-group-item
            h3.list-group-item-heading Telluride to Silverton Transmission Line (2007)
            p.list-group-item-text.
              Directed a field crew for surveying and mapping the existing transmission line.  Created maps and
              shapefiles for the structures and alignment.
              Role: GIS Specialist.
              Employer: Alpine Archaeological Consultants, Inc.
              Client: Tri-State.
          li.list-group-item
            h3.list-group-item-heading Nucla to Sunshine Transmission Line (2007)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Researched previous archaeological
              investigations in the project area. Analyzed impacts to archaeological sites.
              Role: GIS Specialist.
              Employer: Alpine Archaeological Consultants, Inc.
              Client: Tri-State.
          li.list-group-item
            h3.list-group-item-heading Overland Pass Pipeline (2006 - 2008)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Researched previous archaeological
              investigations in the project area. Analyzed impacts to archaeological sites.
              Role: GIS Specialist.
              Employer: Alpine Archaeological Consultants, Inc.
              Client: Natural Resources Group.
          li.list-group-item
            h3.list-group-item-heading Rocky Mountain Express Pipeline (2004 - 2008)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Researched previous archaeological
              investigations in the project area. Analyzed impacts to archaeological sites.
              Role: GIS Specialist.
              Employer: Alpine Archaeological Consultants, Inc.
              Client: Natural Resources Group.
          li.list-group-item
            h3.list-group-item-heading Bayfield to Pagosa Transmission Line (2004)
            p.list-group-item-text.list-group-item-text.
              Processed field GPS data and created project maps and figures. Researched previous archaeological
              investigations in the project area. Analyzed impacts to archaeological sites.
              Role: GIS Specialist.
              Employer: Alpine Archaeological Consultants, Inc.
              Client: Tri-State.
          li.list-group-item
            h3.list-group-item-heading Delta Transmission Line (2004)
            p.list-group-item-text.
              Processed field GPS data and created project maps and figures. Researched previous archaeological
              investigations in the project area. Analyzed impacts to archaeological sites.
              Role: GIS Specialist.
              Employer: Alpine Archaeological Consultants, Inc.
              Client: Tri-State.