extends layout

block stylesheets
  link(rel='stylesheet', href='https://js.arcgis.com/3.16/dijit/themes/claro/claro.css')
  link(rel='stylesheet', href='https://js.arcgis.com/3.16/esri/css/esri.css')
  link(rel='stylesheet', href='/stylesheets/snowfall.css')

block content
  h1 Snowfall
  .container
    .row
      .col-xs-3.side-bar
        h3 Search
        #searchDiv
        h3 Layers
        #layersDiv
        h3 Time Slider
        .current-time.small.text-center
        #timeSliderDiv
        .start-time.small.text-left
        .end-time.small.text-right.pull-right
      .col-xs-9
        #mapDiv

block javascripts
  script(src='https://js.arcgis.com/3.16/')
  script(src='/javascripts/esrimap-app.js')
