extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/weather.css')

block content
  h1 Weather
  .container
    .row
      .col-sm-6
        a(href='http://www.wunderground.com')
          img(src='/images/wunderground.jpg')
        img(src='//api.wunderground.com/api/1f8c5d8b0f435e87/radar/image.gif?centerlat=39.755543&centerlon=-105.2211&radius=50&width=400&height=400&newmaps=1&rainsnow=1&noclutter=1&smooth=1', alt='Current Radar')
      .col-sm-6
        h2 Dark Sky
          p #[a(href='https://darksky.net/poweredby/') Powered by Dark Sky]
          h3 Currently
            p.ds-currently-summary
          h3 Soon
            p.ds-minutely-summary
          h3 Hourly
            p.ds-hourly-summary
          h3 Daily
            p.ds-daily-summary
    .row
      .col-sm-12
        h3 Today's Weather Underground Forecast
        .wu-today
    .row
      .col-sm-12
        h3 Tomorrow's Weather Underground Forecast
        .wu-tomorrow

block javascripts
  script(src='/javascripts/weather.js')