$background-color: #C4BCAF
$footer-background-color: #101010
$list-group-item-background-color: #E5DDCF

body
  background: $background-color

h1
  text-align: center
  font-weight: bold
  font-size: 48px

h2
  text-align: center
  border-bottom: 1px solid
  padding-bottom: 10px

h3
  font-size: 20px

footer
  background: $footer-background-color
  font-weight: 600
  text-align: center
  padding: 10px

p
  font-size: 18px
  text-align: center

.container
  max-width: 960px

.list-group-item
  background-color: $list-group-item-background-color
  border-color: darken($background-color, 20%)
  border-radius: 5px

.list-inline .skill
  @extend .list-group-item
  padding: 10px
  margin: 3px
  border-radius: 25px

.knowledge
  text-align: center